/* The stylesheet is meant to imitate that of https://play.liracer.org */

/* The color variables declared in the following block correspond to the play.liracer.org colors, see
   https://github.com/fossegrim/play.liracer.org/blob/6b812a9d0559e2f8b4ddc9290a085deaf2f61730/front/src/colors.js */

:root {
    --layer-0-background: #fdf6e3;
    --layer-1-background: #eee8d5;
    --layer-1-foreground: #4d4a44;
    --layer-2-background: #ded8c5;
    --wrong-char-color:   #ba5d5d;
    --player-cursor-color: #cfbaa5;
    --opponent-cursor-color: #baba70
}

body {
    background: var(--layer-0-background);
    margin: 0;
    padding-left: auto;
    padding-right: auto;
}

#frame {
    margin: 32px;
    padding: 16px;
    padding-top: 0px;
    max-width: 1000px;
    border-top: 30px solid var(--layer-2-background);
    background: var(--layer-1-background);
    color: var(--layer-1-foreground);
}

#call-to-action {
    margin-left: 50px;
    margin-top: 10px;
    width: 300px;
    height: 40px;
    border: solid var(--layer-2-background) 4px;
    background: inherit;
    color: inherit;
    font-size: 16px;
    font-weight: bold;
}

#call-to-action:focus {
    outline: none;
}
